@{
    ViewBag.Title = "Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Veuillez verifier votre courriel pour reinitiliser votre mot de passe.
    </p>
</div>
	
