
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*h1 {
        text-align: center;
        text-transform: uppercase;
        color: #4CAF50;
    }*/

    p {
        text-align: left;
        letter-spacing: 1px;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: #008CBA;
    }
</style>

<h1>Support</h1>
<hr />
<p>Veuillez cliquer sur le lien <a href="../UploadedFiles/DVAC_Guide_Utilisateur_GestionLocauxateur.pdf" target="_blank" type="application/pdf" /> <span style="font-size:25px; color:red">DVAC_Guide_Utilisateur_GestionLocauxateur.pdf</span></a> pour consulter le guide d'utilisation de l'application pour le Glateur ou sur le lien  <a href="../UploadedFiles/DVAC_Guide_Utilisateur_Commis_Pharmacie.pdf" target="_blank" type="application/pdf" /> <span style="font-size:25px; color:red">DVAC_Guide_Utilisateur_Commis_Pharmacie.pdf</span></a> pour accéder au guide d'utilisation de l'application par le commis de la pharmacie.</p>

<br />
<p>
    Pour tout incident ou questionnement concernant les accès à l'application, s'adresser aux super_utilisateurs sur le site<br />
    <br />
    Si des problèmes techniques surviennent avec les imprimantes à étiquettes, les techniciens sur le site seront en mesure de les dépanner.<br />
    Composez l'un des deux numéros de supports informatiques selon le site entre 8h et 20h.:<br />
    - Arena Martin Brodeur : 438-822-4629<br />
    - Stade olympique        : 514-249-5251
</p><br />








